.sign-in-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    height: 500px;
    width: 50%;

    .sign-in-title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 15px;
    }

    .sign-in-sub-title {
        font-size: 16px;
    }

    .sign-in-form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    .sign-in-error {
        text-align: center;
    }
}
