.found-test-cases-container {
    .search-results-container {
        height: 85vh;
        overflow-y: scroll;
    }

    li {
        text-align: right;
        list-style-type: square;
        direction: rtl;
        list-style-position: inside;
    }

    @media (max-width: 600px) {
        .search-results-container {
            height: 100%;
            overflow-y: scroll;
        }
    }
}
