.found-test-cases-container {
    .search-results-container {
        height: 85vh;
        overflow-y: scroll;
    }

    li {
        text-align: right;
        list-style-type: square;
        direction: rtl;
        list-style-position: inside;
    }
}
