.test-challenges-form-container {
    .title {
        margin-bottom: 25px;
    }

    .button {
        width: 100%;
    }

    .loading-text {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .test-challenges-form-container {
        width: 100%;
    }
}
